<div class="sig_boundary" style="background-color: #98D147; font-size: 14px; color: #fff;"> <!-- signature boundary -->

  <div class="sig_top">
  </div>

  <div class="sig_left" style="float: left;">
  </div>

  <div class="sig_wrapper">
    <div class="sig_col_one"> 
      First Column
      <%#= ckeditor_textarea("signature", "name", :width => '100%', :height => '200px') %>
      <%#= name %>
      <%#= email %>
    </div>

    <div class="sig_col_two">
      second column
    </div>

    <div class="sig_col_three">
      thirs column
    </div>
  </div>
  
  <div class="sig_right" style="float: right;">
  </div>

  <div style="clear: both;"></div>

  <div class="sig_bottom">
  </div>

</div> <!-- Signature boundary ended -->
