<div class="sig_boundary"> <!-- signature boundary -->

  <div class="sig_top">
  </div>

  <div class="sig_left" style="float:left;">
  </div>

  <div class="sig_wrapper">
    <div class="sig_col_one"> 
    
      <div class="sig_logo">
        Company Logo
      </div>
    
      <div class="sig_name">
        First Name last Name
      </div>
      
      <div class="sig_designation">
        Your Designation
      </div>
      
      <div class="sig_company">
        Company Name
      </div>
      
      <div class="sig_mobile">
        Mobile Number
      </div>
      
      <div class="sig_email">
        email@address.com
      </div>
      
    </div>

    <div class="sig_col_two">
      <div class="sig_message_board">
        Some Clickable Message to display
      </div>
  
    </div>

    <div class="sig_col_three">
      <ul class="sign_site_navigation_links">
        <li> <a href="#"> Home </a> </li>
        <li> <a href="#"> Product </a> </li>
        <li> <a href="#"> Careers </a> </li>
        <li> <a href="#"> Contact Us </a> </li>
      <ul>
    </div>
    <div style="clear:both;"></div>
  </div>
  <div style="clear:both;"></div>
  
  <div class="sig_right" style="float:right;">
  </div>

  <div style="clear:both;"></div>

  <div class="sig_bottom">
    <div class="sign_disclaimer">
      Disclaimer will come here
    </div>
  </div>

</div> <!-- Signature boundary ended -->
