<h1 class="heading bold">Email Address </h1>
<br />
<br />
<p>
<%= f.label :email, "Enter your email address" %> <br />
<%= f.text_field :email, :value => @stamp.email.blank? ? current_user.email : @stamp.email %>
<br />
</p>
