<div id="vsign_wrapper" class="vsign_wrapper">
	<div class="vsign_top">
	</div>
	
	<div id="vsign_content" class="vsign_content absolute">
	
		<div id="vsign_name" class="vsign_name ten"><%= @stamp.name.blank? ? "Enter full name" : @stamp.name%></div>
		<br>
		<div id="vsign_email" class="vsign_email absolute">
			<%= current_user.email%>
		</div>
		<br>
		<div id="vsign_mobile" class="vsign_name absolute ten"><%= @stamp.mobile.blank? ? "Enter mobile number" : @stamp.mobile %></div>
		<br>
		<div id="vsign_links" class="vsign_links">
		
		</div>
		<div class="vsign_powered absolute" style="bottom: -15px; ">
			<a href="#"><span class="grey eight">signature powered by</span></a>
			<a href="#"><span class="grey nine bold">PeepSign</span></a>
		</div>
	</div>
		
	<div class="clear"></div>

	
	<div class="vsign_bottom">
		
	</div>	
</div>