<h1 class="heading bold">Listing Signatures</h1>
<br>
<br>
<% @stamps.each do |@stamp| %>
	<% @files.each do |file| %>
	<%= render :file => file, :object =>  @stamp %>
	<br />
	<hr />
	<br />
	<% end %>
	<br>
	<%= render :partial => 'show_item' %>
	<br>
	<%= link_to 'Edit', edit_stamp_path(@stamp) %> |
	<%= link_to 'Back', stamps_path %>
	<br>
<% end %>
