<h1 class="heading bold">Listing Signatures</h1>
<br>
<br>
<% @stamps.each do |@stamp| %>
	<br>
	<%= render :partial => 'show_design' %>
	<br>
	<%= link_to 'Edit', edit_stamp_path(@stamp) %> |
	<%= link_to 'Back', stamps_path %>
	<br>
<% end %>
