<h1>PeepSign!</h1> 
<h4> Listing all the available Signature templates</h4>
<div class="outer">
	<%= render :partial => "skin_one", :layout => "grey"%>
</div>
<div class="outer">
	<%= render :partial => "skin_one", :layout => "blue" %>
</div>
<div class="outer">
	<%= render :partial => "skin_one", :layout => "green" %>
</div>
<!--
<div>
	<iframe src="templates/skin_one.html" width="100%" height="300%">
  <p>Your browser does not support iframes.</p>
</iframe>
</div>
-->
