.sig_boundary{
	background-color: #bedce7;
	font-size: 24px;
	width: 500px;
}

.sig_col_one{
	height: 100px;
	border: 1px dotted #aaa;
}

.sig_col_two{
	height: 50px;
	border: 1px dotted #aaa;
}

.sig_col_three{
	height: 40px;
	border: 1px dotted #aaa;
}
